body {
    padding: 0;
    margin: 0;
}

textarea {
    border: 0;
    resize: none;
    outline: none;
}

.bold {
    font-weight: bold;
}

.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-left-10 {
    margin-left: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear-fix:after {
    content: '';
    display: table;
    clear: both;
}

.border-bottom {
    border-bottom: 1px solid #f1f1f1;
}
.navbar img{
    margin-right: 10px;
}
.navbar-nav > .nav-item > .nav-link{
    color: white;
    cursor: pointer;
}
.navbar-nav > .nav-item > .nav-link:hover{
    color: #c0e8fa;
}
.navbar-nav > .nav-item > .nav-link:active{
    color: #c0e8fa;
}

.carousel-control-next{
    opacity: 0;
}
.carousel-control-next:hover{
    opacity: 0.2;
}

.carousel-control-prev{
    opacity: 0;
}
.carousel-control-prev:hover{
    opacity: 0.2;
}

@media only screen and (min-width: 768px) and (max-width: 2048px) {
    .marglef20xp{
        margin-left: 20px;
    }
    .font-size26{
        font-size: 26px;
    }
    .padding20{
        padding: 1rem 5rem;
    }
 
}
@media only screen and (max-width: 500px) {
    .navbar img{
        display: none;
    }
    .navbar .navbar-brand{
        display: none;
    }
}
